.container-fluid {
  max-width: 1000px;
  min-height: 100vh;
}

.number-container {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 100%;
  font-family: Oswald;
}

.number-label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  width: 100%;
}

.number-icon {
  font-size: 2em;
}

.best-tweet-stat {
  display: flex;
  gap: 2em;
  justify-content: center;
  font-size: 1.5em;
}

.best-tweet-stat > div + div {
  margin-left: 2em;
}

.search-screen-name {
  width: max-content;
  margin: 2em auto;
}

.tweets-most .twitter-tweet {
  margin: auto auto;
}

.text-center {
  text-align: center;
}

.twitter-blue {
  color: #1DA1F2;
}

.spin {
  width: 1.5em;
  height: 2em;
  animation: spin 1.75s ease-in-out infinite;
  display: inline-block;
  transform-origin: 10px;
}

@keyframes spin {
  to {
    transform: rotateY(720deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 1s ease-in;
}

.tweets-tables table {
  margin: 1em auto;
  width: 100%;
  max-width: 300px;
  font-size: 125%;
}

.tweets-tables .table > tbody > tr > td {
  border-top: 0;
}

.red {
  color: #d33f49;
}

.footer {
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

.searching-hold-please.fadeIn {
  opacity: 0;
  animation-delay: 10s;
  animation-fill-mode: forwards;
}

.mg-x-axis text,
.mg-y-axis text,
.mg-histogram .axis text {
  fill: var(--bs-blue);
}

.mg-active-datapoint {
  fill: var(--bs-secondary);
}
